@charset "utf-8";
/* CSS Document */

body {
	margin: auto auto;
	background-color: rgba(42,42,42,1.00);
}
/*距離上方50像素*/
#headertop{
	padding-top:10px;
}
/*navbar高度80像素*/
.Mynavbar{
	width: 100%;
	height: 70px;
	background-color: rgba(0,96,187,1.00);
}
.navbar-toggle{
	background-color:brown;
}
/*navbar文字樣式*/
.allText{
	text-align: center;
	font-size: 1.5em;
	font-weight: bolder;
}


.righttext{
	background-color: rgba(0,96,187,1.00);

}
.righttext:link{
	color:aquamarine;
	background-color: rgba(0,71,138,1.00);

}

/*navbar 滑鼠滑過樣式*/
.nav.navbar-nav li a:hover  {
	background-color:white;
	border-bottom: 3px solid rgba(251,71,74,1.00);
	color: rgba(255,107,3,1.00);
	font-size: 1.2em;
	font-style: oblique;
	font-weight: bold;
	text-align: center;
	font-family: "微軟正黑體", "標楷體", sans-serif, "Adobe Caslon Pro", "Adobe Caslon Pro Bold", "Adobe Devanagari", "Adobe 繁黑體 Std B", "Adobe 楷体 Std R", "Adobe 明體 Std L", "Adobe 黑体 Std R", "Arial Narrow", Arial, "Arial Black", "Segoe UI", "Segoe UI Semibold", "Adobe Gothic Std B";
}

/*navbar 滑鼠按下樣式*/
.nav.navbar-nav li a:active {
	font-size: 1.4em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: rgba(46,236,50,1.00);
	font-family: "微軟正黑體", "標楷體", sans-serif, "Adobe Caslon Pro", "Adobe Caslon Pro Bold", "Adobe Devanagari", "Adobe 繁黑體 Std B", "Adobe 楷体 Std R", "Adobe 明體 Std L", "Adobe 黑体 Std R", "Arial Narrow", Arial, "Arial Black", "Segoe UI", "Segoe UI Semibold", "Adobe Gothic Std B";
}




/*.dropdown-menu li a:hover {
	background-color:gold;
	color:deepskyblue;
	font-size: 2em;
	font-weight:bold;
	text-align: center;
}*/
/*.dropdown-menu li a:link {
	font-size: 1em;
	font-weight:bold;
	color:brown;
	text-align: center;
}*/

.brandtext{
	font-size:1em;
}

/*下拉式選單內容樣式*/
.menutext{
	width: 100%;
	color: springgreen;
	text-align: center;
	font-family: "微軟正黑體", "標楷體", "sans-serif", "Adobe Caslon Pro", "Adobe Caslon Pro Bold", "Adobe Devanagari", "Adobe 繁黑體 Std B", "Adobe 楷体 Std R", "Adobe 明體 Std L", "Adobe 黑体 Std R", "Arial Narrow", Arial, "Arial Black", "Segoe UI", "Segoe UI Semibold", "Adobe Gothic Std B";
	font-size: 1.2em;
}
.ultext{
	background-color: rgba(0,96,187,1.00);
}

/*輪播動畫距離上方90像素*/
.bannercustom{
	margin-top: 75px;
	
}
.blank{
	margin-top: 3px;
	margin-bottom: 3px;
	background-color:darkgrey;
	width: 100%;
	height: 2px;
}

/*jumbotron樣式 P段落*/
.MyjumbotronByh1{
	text-align: center;
	border-radius: 10px;
	font-size: 2.5em;
	background-color: rgba(255,84,89,1.00);
}
.jumbotron ul{
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-image: url(../images/Logo.png);
	background-color: rgba(243,255,121,1.00);
	border-style: dashed;
	border-width: 2px;
}
.jumbotron ul li{
	text-align: left;
	margin-left: 5px;
	font-size: 2em;
	font-weight: bold;
	line-height: 10.pt;
	line-height: 40px;
	text-indent: 10px;
	color: rgba(0,0,0,1.00);
}
.jumbotron h2{
	font-weight: bold;
	color: rgba(13,33,249,1.00);
}
/*回到最上方*/
.container-fluid .top {
	text-align: center;
}
.top a img {
	padding-right: 10px;
	padding-bottom: 2px;
}

/*表單背景*/
.formbg{
	width:100%;
	height:auto;
	padding-top:20px;
	padding-bottom: 30px;
	background-color: aquamarine;
}

/*回到最上方*/
.top {
	text-align: center;
}
.top a img {
	padding-right: 10px;
	padding-bottom: 0px;
}