@charset "utf-8";
/* CSS Document */

body {
	margin: 0px 0px;
	padding: 0px 0px;
	background-color: rgba(42,42,42,1.00);
}
/*距離上方10像素*/
#headertop{
	padding-top:10px;
	box-sizing: border-box;
}
/*navbar高度70像素*/
.Mynavbar{
	width: 100%;
	height: 70px;
	background-color: rgba(0,96,187,1.00);
}
.navbar-toggle{
	background-color:brown;
}
/*navbar文字樣式*/
.allText{
	text-align: center;
	font-size: 1.5em;
	font-weight: bolder;
}


.righttext{
	background-color: rgba(0,96,187,1.00);

}
.righttext:link{
	color:aquamarine;
	background-color: rgba(0,71,138,1.00);

}


/*navbar 滑鼠滑過樣式*/
.nav.navbar-nav li a:hover  {
	background-color:white;
	border-bottom: 2px solid rgba(251,71,74,1.00);
	color: rgba(255,107,3,1.00);
	font-size: 1.2em;
	font-style: oblique;
	font-weight: bold;
	text-align: center;
	font-family: "微軟正黑體", "標楷體", sans-serif, "Adobe Caslon Pro", "Adobe Caslon Pro Bold", "Adobe Devanagari", "Adobe 繁黑體 Std B", "Adobe 楷体 Std R", "Adobe 明體 Std L", "Adobe 黑体 Std R", "Arial Narrow", Arial, "Arial Black", "Segoe UI", "Segoe UI Semibold", "Adobe Gothic Std B";
}

/*navbar 滑鼠按下樣式*/
.nav.navbar-nav li a:active {
	font-size: 1.2em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: rgba(46,236,50,1.00);
	font-family: "微軟正黑體", "標楷體", sans-serif, "Adobe Caslon Pro", "Adobe Caslon Pro Bold", "Adobe Devanagari", "Adobe 繁黑體 Std B", "Adobe 楷体 Std R", "Adobe 明體 Std L", "Adobe 黑体 Std R", "Arial Narrow", Arial, "Arial Black", "Segoe UI", "Segoe UI Semibold", "Adobe Gothic Std B";
}




/*.dropdown-menu li a:hover {
	background-color:gold;
	color:deepskyblue;
	font-size: 2em;
	font-weight:bold;
	text-align: center;
}*/
/*.dropdown-menu li a:link {
	font-size: 1em;
	font-weight:bold;
	color:brown;
	text-align: center;
}*/
.brandtext{
	font-size:1em;
}


/*下拉式選單內容樣式*/
.menutext{
	width: 100%;
	color: springgreen;
	text-align: center;
	font-family: "微軟正黑體", "標楷體", "sans-serif", "Adobe Caslon Pro", "Adobe Caslon Pro Bold", "Adobe Devanagari", "Adobe 繁黑體 Std B", "Adobe 楷体 Std R", "Adobe 明體 Std L", "Adobe 黑体 Std R", "Arial Narrow", Arial, "Arial Black", "Segoe UI", "Segoe UI Semibold", "Adobe Gothic Std B";
	font-size: 1.2em;
}
.ultext{
	background-color: rgba(0,96,187,1.00);
}

/*輪播動畫距離上方75像素*/
.bannercustom{
	margin-top: 75px;
	
}
.blank{
	margin-top: 3px;
	margin-bottom: 3px;
	background-color:darkgrey;
	width: 100%;
	height: 2px;
}

/*資訊面板文字樣式*/
.paneltop{
	margin-top: 10px;
}
.panelleft{
	margin:auto auto;
}
.panel-body{
	background-image: -webkit-linear-gradient(0deg,rgba(255,177,122,1.00) 0%,rgba(204,106,20,1.00) 100%);
	background-image: -moz-linear-gradient(0deg,rgba(255,177,122,1.00) 0%,rgba(204,106,20,1.00) 100%);
	background-image: -o-linear-gradient(0deg,rgba(255,177,122,1.00) 0%,rgba(204,106,20,1.00) 100%);
	background-image: linear-gradient(90deg,rgba(255,177,122,1.00) 0%,rgba(204,106,20,1.00) 100%);
}
.panel-body ol li p{
	text-align: left;
	font-size: 1.8em;
	font-weight: bolder;
	font-family: "微軟正黑體", "標楷體", "sans-serif", "Adobe Caslon Pro", "Adobe Caslon Pro Bold", "Adobe Devanagari", "Adobe 繁黑體 Std B", "Adobe 楷体 Std R", "Adobe 明體 Std L", "Adobe 黑体 Std R", "Arial Narrow", Arial, "Arial Black", "Segoe UI", "Segoe UI Semibold", "Adobe Gothic Std B";
	color: rgba(0,0,0,1.00);
	text-indent: 10px;
}
.olStyle{
	list-style-image:url(https://upload.cc/i1/2019/03/03/AzmPS9.png);
	list-style-type: none;
}

.testwidth{
	width: 100%;
}

/*產品圖片樣式*/
.testwidth div h4 {
	text-align: center;
	color: rgba(29,29,29,1.00);
	font-weight: bold;
	font-size: 1.5em;
	background-color: rgba(236,141,21,1.00);
	padding-top: 5px;
	width: 100%;
	border-radius: 5px;
}
/*產品圖片樣式*/
.testwidth div h4:hover {
	font-size: 2em;
	border-radius: 5px;
	border-spacing: 2px 2px;
	background-color: rgba(208,255,38,1.00);
}
/*Gif圖片樣式*/
.gifCenter{
	margin:auto auto;
}
/*Gif圖片標題樣式*/
.h4Gif{
	text-align: center;
	color: rgba(29,29,29,1.00);
	font-weight: bold;
	font-size: 1.5em;
	background-color: rgba(236,141,21,1.00);
	padding-top: 5px;
	width: 100%;
	border-radius: 5px;
}
/*回到最上方*/
.topstyle{
	margin-top: 75px;
}
.container-fluid .top {
	position: relative;
}

.top img {
	position: fixed;
	width: 40px;
	height:40px;
	right: 30px;
	bottom: 10px;
}
